body {
	background: #000;
	font-family: Impact;
}
section.container {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}
.ryu {
	float: left;
	overflow: hidden;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}
.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
	background: url('../images/ryu-cool.gif');
}
.ryu-fan { background:url('../images/ryu-fan.gif'); width:322px; height:322px;display:none;}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 167px;
	left: -212px;
	float: left;
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}
.instructions-set-1 {
	position: absolute;
	width: 310px;
	right: 0;
	top: 190px;
	font-size: 38px;
	text-align: right;
	padding-right: 30px;
}
.instructions-set-2 {
	position: absolute;
	width: 510px;
	right: 0;
	top: 320px;
	font-size: 25px;
	text-align: right;
	padding-right: 30px;
}
.blue{color:#06F;}
